*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  height: 100vh;
  min-height: 600px;
  z-index: 1;
  background: url(../images/alt_header-6.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.header-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgb(37, 37, 37);
  opacity: 0.75; 
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  flex-wrap: wrap;
}

/*
===========================
          Menu              
===========================
*/
.menu-block {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 290px;
  width: 90%;
}

.menu-nav a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  margin-right: 30px;
  transition: 1s;
}

.menu-nav a:first-child {
  margin-left: 25px;
}

.menu-nav {
  transition: 0.2s;
  transform: scaleX(0) translateX(0%);
  transform-origin: left center;
  opacity: 0;
  visibility: hidden;
  height: 75px;
  line-height: 75px;
  background-color: #fff;
  padding-right: 37.5px;
  padding-left: 37.5px;
  margin-left: -37.5px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
}
.menu-nav_active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
}

/*
============================
        Menu Button
============================
*/

.menu-btn {
  display: block;
  width: 75px;
  height: 75px;
  background-color: #ea4c89;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1.5px;
  left: 50%; margin-left: -15px;
  width: 30px;
  height: 3px;
  background-color: #fff;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-7.5px);
}
.menu-btn span::after {
  transform: translateY(7.5px);
}

.menu-btn_active span:before {
  transform: rotate(35deg);
  width: 15px;
  transform-origin: right bottom;
  margin-left: 0px;
}
.menu-btn_active span:after {
  transform: rotate(-35deg);
  width: 15px;
  transform-origin: right top;
  margin-left: 0px;
}

/*
=============================
      Name
=============================
*/

.name-block {
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 90px;
  color: #fff;
  text-transform: uppercase;
  width: 90%;
  text-align: center;
}

/*
=============================
    Personal Information
=============================
*/

.personal-info {
  display: flex;
  align-items: center;
  height: 40vh;
  min-height: 300px;
  flex-direction: column;
}

.personal-info .photo {
  border: 6px #fff solid;
  border-radius: 50%;
  background-color: rgb(37, 37, 37);
  margin-top: -145px;
  width: 290px;
  height: 290px;
  z-index: 5;
  background: url(../images/sunny1.jpg) no-repeat center;
  box-shadow: 0px 1px 20.79px 0.21px rgba(0, 0, 0, 0.45);
}

.personal-info .cyte {
  display: block;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-top: 25px;
  font-weight: 400;
  width: 780px;
  font-size: 18px;
  color: #333132;
  line-height: 0.8;
}

.personal-info .social-media-share {
  width: 120px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  
}

/*
==================================
            Main content
==================================
*/
main {
  background-color: #f9f9f9;
}

div.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 85px;
}

/*
==============================
      Recent Posts
==============================
*/

.recent-posts {
  display: flex;
  flex-direction: column;
  width: 750px;
}

.post {
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e0dfdf;
}

.post .image-wrapper{
  height: 510px;
  width: 690px;
  overflow: hidden;
}
.post .additional-info{
  display: flex;
  justify-content: flex-start;
  margin-top: 18px;
  margin-bottom: 28px;
}
.additional-info .tag{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-right: 22px;
  color: #333132;
}

.additional-info .data{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333132;
}
.text h2{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #333132;
}
.text p{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333132;
}
.post .article-footer {
  display: flex;
  justify-content: space-between;
}

.read-more-button {
  display: block;
  color: #fff;
  background-color: #ea4c89;
  text-decoration: none;
  padding: 13px 37px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
}
.article-footer .share {
  width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share p{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #333132;
}

/*
==============================
      Sidebar
==============================
*/

aside {
  display: flex;
  flex-direction: column;
  width: 360px;
}

/*
============================
      Search bar
============================
*/

.search{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.search input {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333132;
  width: 100%;
  height: 50px;
  padding: 0 22px;
  border: 1px solid #d7d7d7;
}

.search button {
  background: #ea4c89 url(../images/icons/magnifier.png) no-repeat center;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid #d7d7d7;
  border-left: none;
}

/*
==================================
       Top Posts sidebar
==================================
*/

.top-posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
  background-color: #fff;
  align-items: center;
  border: 1px solid #e0dfdf;
}

.top-posts h2 {
  width: 100%;
  padding: 19px 0;
  margin: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: rgb(51, 49, 50);
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  border-bottom: 1px solid #e0dfdf;
}
  

.top-posts .top {
  display: flex;
  flex-direction: column;
  padding-bottom: 28px; 
}

.top-posts .top1 {
  padding-top: 28px;
}

.top .image-wrapper {
  height: 325px;
  width: 325px;
  overflow: hidden;
}

.top .additional-info {
  display: flex;
  justify-content: flex-start;
  padding: 12px 0 10px 0;
}

.top .additional-info .tag {
  font-weight: bold;
  color: #ed145b;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.top .additional-info .data{
  font-weight: 400;
  color: #252525;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.top h3 {
  font-weight: bold;
  color: #252525;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

/*
================================
            Tags
================================
*/
.tags {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: #fff;
  align-items: center;
  border: 1px solid #e0dfdf;
}

.tags h2 {
  width: 100%;
  padding: 19px 0;
  margin: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: rgb(51, 49, 50);
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  border-bottom: 1px solid #e0dfdf;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 12px;
  min-height: 215px;
  align-content: flex-start;
}

.tags-list span {
  display: block;
  padding: 6px 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #252525;
  text-align: center;
  border: 1px solid #e0dfdf;
  min-width: 75px;
  height: 26px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 6px;
  align-self: center;
}

.tags-list span:hover {
  cursor: pointer;
  background-color: #ea4c89;
  color: #fff;
  font-weight: bold;
}

/*
===========================
       Subscribe
===========================
*/

.subscribe {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: #fff;
  align-items: center;
  border: 1px solid #e0dfdf;
}

.subscribe h2 {
  width: 100%;
  padding: 19px 0;
  margin: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: rgb(51, 49, 50);
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  border-bottom: 1px solid #e0dfdf;
}

.subscribe .subscribe-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px;
}

.subscribe input {
  min-width: 210px;
  border: 0;
  border-bottom: 1px solid #e0dfdf;
  height: 38px;
  margin-bottom: 84px;
}

.subscribe input::placeholder{
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #a1a1a1;
  text-align: center;
}

.subscribe button {
  background-color: #ea4c89;
  width: 160px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid #d7d7d7;
  border-left: none;
  color: #fff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

/*
============================
        Footer
============================
*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #252525;
}
footer h4 {
  width: 1140px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #898989;
}