*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
body header {
  height: 100vh;
  min-height: 600px;
  z-index: 1;
  background: url(../images/alt_header-6.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
body header .header-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #252525;
  opacity: 0.75;
}
body header .header-overlay .header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative;
  flex-wrap: wrap;
}
body header .header-overlay .header-wrapper .menu-block {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 290px;
  width: 90%;
}
body header .header-overlay .header-wrapper .menu-block .menu-btn {
  display: block;
  width: 75px;
  height: 75px;
  background-color: #ea4c89;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
body header .header-overlay .header-wrapper .menu-block .menu-btn span {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 3px;
  background-color: #fff;
}
body header .header-overlay .header-wrapper .menu-block .menu-btn span::before {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 3px;
  background-color: #fff;
  content: "";
  display: block;
  transition: 0.2s;
  transform: translateY(-7.5px);
}
body header .header-overlay .header-wrapper .menu-block .menu-btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 3px;
  background-color: #fff;
  content: "";
  display: block;
  transition: 0.2s;
  transform: translateY(7.5px);
}
body header .header-overlay .header-wrapper .menu-block .menu-btn_active span:before {
  width: 15px;
  margin-left: 0px;
  transform: rotate(35deg);
  transform-origin: right bottom;
}
body header .header-overlay .header-wrapper .menu-block .menu-btn_active span:after {
  width: 15px;
  margin-left: 0px;
  transform: rotate(-35deg);
  transform-origin: right top;
}
body header .header-overlay .header-wrapper .menu-block .menu-nav {
  transition: 0.2s;
  transform: scaleX(0) translateX(0%);
  transform-origin: left center;
  opacity: 0;
  visibility: hidden;
  height: 75px;
  line-height: 75px;
  background-color: #fff;
  padding-right: 37.5px;
  padding-left: 37.5px;
  margin-left: -37.5px;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
}
body header .header-overlay .header-wrapper .menu-block .menu-nav a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  display: inline-block;
  margin-right: 30px;
  transition: 1s;
}
body header .header-overlay .header-wrapper .menu-block .menu-nav a:first-child {
  margin-left: 25px;
}
body header .header-overlay .header-wrapper .menu-block .menu-nav_active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
}
body header .header-overlay .header-wrapper .name-block {
  font-weight: 100;
  font-family: "Raleway", sans-serif;
  font-size: 90px;
  color: #fff;
  text-transform: uppercase;
  width: 90%;
  text-align: center;
}
body .personal-info {
  display: flex;
  align-items: center;
  height: 40vh;
  min-height: 300px;
  flex-direction: column;
}
body .personal-info .photo {
  border: 6px #fff solid;
  border-radius: 50%;
  background-color: #252525;
  margin-top: -145px;
  width: 290px;
  height: 290px;
  z-index: 5;
  background: url(../images/photo1.jpg) no-repeat center;
  box-shadow: 0px 1px 20.79px 0.21px rgba(0, 0, 0, 0.45);
}
body .personal-info .cyte {
  display: block;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 25px;
  font-weight: 400;
  width: 780px;
  font-size: 18px;
  color: #333132;
  line-height: 0.8;
}
body .personal-info .social-media-share {
  width: 120px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
body main {
  background-color: #f9f9f9;
}
body main .main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  padding-top: 105px;
  padding-bottom: 85px;
}
body main .main-wrapper .recent-posts {
  display: flex;
  flex-direction: column;
  width: 750px;
}
body main .main-wrapper .recent-posts .post {
  padding: 24px;
  background-color: #fff;
  border: 1px solid #e0dfdf;
}
body main .main-wrapper .recent-posts .post .image-wrapper {
  height: 510px;
  width: 690px;
  overflow: hidden;
}
body main .main-wrapper .recent-posts .post .additional-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 18px;
  margin-bottom: 28px;
}
body main .main-wrapper .recent-posts .post .additional-info .tag {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-right: 22px;
  color: #333132;
}
body main .main-wrapper .recent-posts .post .additional-info .data {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333132;
}
body main .main-wrapper .recent-posts .post .text h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #333132;
}
body main .main-wrapper .recent-posts .post .text p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333132;
}
body main .main-wrapper .recent-posts .post .article-footer {
  display: flex;
  justify-content: space-between;
}
body main .main-wrapper .recent-posts .post .article-footer .read-more-button {
  display: block;
  color: #fff;
  background-color: #ea4c89;
  text-decoration: none;
  padding: 13px 37px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
}
body main .main-wrapper .recent-posts .post .article-footer .share {
  width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .main-wrapper .recent-posts .post .article-footer .share p {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #333132;
}
body main .main-wrapper aside {
  display: flex;
  flex-direction: column;
  width: 360px;
}
body main .main-wrapper aside .search {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}
body main .main-wrapper aside .search input {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333132;
  width: 100%;
  height: 50px;
  padding: 0 22px;
  border: 1px solid #d7d7d7;
}
body main .main-wrapper aside .search button {
  background: #ea4c89 url(../images/icons/magnifier.png) no-repeat center;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid #d7d7d7;
  border-left: none;
}
body main .main-wrapper aside .top-posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 25px;
  background-color: #fff;
  align-items: center;
  border: 1px solid #e0dfdf;
}
body main .main-wrapper aside .top-posts h2 {
  width: 100%;
  padding: 19px 0;
  margin: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #333132;
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  border-bottom: 1px solid #e0dfdf;
}
body main .main-wrapper aside .top-posts .top {
  display: flex;
  flex-direction: column;
  padding-bottom: 28px;
}
body main .main-wrapper aside .top-posts .top .image-wrapper {
  height: 325px;
  width: 325px;
  overflow: hidden;
}
body main .main-wrapper aside .top-posts .top h3 {
  font-weight: bold;
  color: #252525;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}
body main .main-wrapper aside .top-posts .top .additional-info {
  display: flex;
  justify-content: flex-start;
  padding: 12px 0 10px 0;
}
body main .main-wrapper aside .top-posts .top .additional-info .tag {
  font-weight: bold;
  color: #ed145b;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}
body main .main-wrapper aside .top-posts .top .additional-info .data {
  font-weight: 400;
  color: #252525;
  font-family: "Lato", sans-serif;
  font-size: 12px;
}
body main .main-wrapper aside .top-posts .top1 {
  padding-top: 28px;
}
body main .main-wrapper aside .tags {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: #fff;
  align-items: center;
  border: 1px solid #e0dfdf;
}
body main .main-wrapper aside .tags h2 {
  width: 100%;
  padding: 19px 0;
  margin: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #333132;
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  border-bottom: 1px solid #e0dfdf;
}
body main .main-wrapper aside .tags .tags-list {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 12px;
  min-height: 215px;
  align-content: flex-start;
}
body main .main-wrapper aside .tags .tags-list span {
  display: block;
  padding: 6px 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #252525;
  text-align: center;
  border: 1px solid #e0dfdf;
  min-width: 75px;
  height: 26px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 6px;
  align-self: center;
}
body main .main-wrapper aside .tags .tags-list span:hover {
  cursor: pointer;
  background-color: #ea4c89;
  color: #fff;
  font-weight: bold;
}
body main .main-wrapper aside .subscribe {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background-color: #fff;
  align-items: center;
  border: 1px solid #e0dfdf;
}
body main .main-wrapper aside .subscribe h2 {
  width: 100%;
  padding: 19px 0;
  margin: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #333132;
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  border-bottom: 1px solid #e0dfdf;
}
body main .main-wrapper aside .subscribe .subscribe-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px;
}
body main .main-wrapper aside .subscribe .subscribe-area input {
  min-width: 210px;
  border: 0;
  border-bottom: 1px solid #e0dfdf;
  height: 38px;
  margin-bottom: 84px;
}
body main .main-wrapper aside .subscribe .subscribe-area input::placeholder {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #a1a1a1;
  text-align: center;
}
body main .main-wrapper aside .subscribe .subscribe-area button {
  background-color: #ea4c89;
  width: 160px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid #d7d7d7;
  border-left: none;
  color: #fff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
body footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #252525;
}
body footer h4 {
  width: 1140px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: #898989;
}

/*# sourceMappingURL=compiled.css.map */
