footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #252525;
  }
  footer h4 {
    width: 1140px;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    color: #898989;
  }