.personal-info {
    display: flex;
    align-items: center;
    height: 40vh;
    min-height: 300px;
    flex-direction: column;
  }
  
  .personal-info .photo {
    border: 6px #fff solid;
    border-radius: 50%;
    background-color: rgb(37, 37, 37);
    margin-top: -145px;
    width: 290px;
    height: 290px;
    z-index: 5;
    background: url(./photo1.jpg) no-repeat center;
    box-shadow: 0px 1px 20.79px 0.21px rgba(0, 0, 0, 0.45);
  }
  
  .personal-info .cyte {
    display: block;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 25px;
    font-weight: 400;
    width: 780px;
    font-size: 18px;
    color: #333132;
    line-height: 0.8;
  }
  
  .personal-info .social-media-share {
    width: 120px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
  }