.subscribe {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    background-color: #fff;
    align-items: center;
    border: 1px solid #e0dfdf;
  }
  
  .subscribe h2 {
    width: 100%;
    padding: 19px 0;
    margin: 0;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: rgb(51, 49, 50);
    font-weight: bold;
    line-height: 0.8;
    text-align: center;
    border-bottom: 1px solid #e0dfdf;
  }
  
  .subscribe .subscribe-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px;
  }
  
  .subscribe input {
    min-width: 210px;
    border: 0;
    border-bottom: 1px solid #e0dfdf;
    height: 38px;
    margin-bottom: 84px;
  }
  
  .subscribe input::placeholder{
    font-size: 14px;
    font-family: "Lato", sans-serif;
    color: #a1a1a1;
    text-align: center;
  }
  
  .subscribe button {
    background-color: #ea4c89;
    width: 160px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: 1px solid #d7d7d7;
    border-left: none;
    color: #fff;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
  }