main {
    background-color: #f9f9f9;
  }
  
  div.main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
    padding-top: 105px;
    padding-bottom: 85px;
  }