header {
    height: 100vh;
    min-height: 600px;
    z-index: 1;
    background: url(./alt_header-6.jpg) no-repeat center;
    background-size: cover;
    position: relative;
  }
  .header-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(37, 37, 37);
    opacity: 0.75; 
  }
  
  .header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    flex-wrap: wrap;
  }