.recent-posts {
    display: flex;
    flex-direction: column;
    width: 750px;
  }
  
  .post {
    padding: 24px;
    background-color: #fff;
    border: 1px solid #e0dfdf;
  }
  
  .post .image-wrapper{
    height: 510px;
    width: 690px;
    overflow: hidden;
  }
  .post .additional-info{
    display: flex;
    justify-content: flex-start;
    margin-top: 18px;
    margin-bottom: 28px;
  }
  .additional-info .tag{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-right: 22px;
    color: #333132;
  }
  
  .additional-info .data{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #333132;
  }
  .text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #333132;
  }
  .text p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333132;
  }
  .post .article-footer {
    display: flex;
    justify-content: space-between;
  }
  
  .read-more-button {
    display: block;
    color: #fff;
    background-color: #ea4c89;
    text-decoration: none;
    padding: 13px 37px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    align-self: center;
  }
  .article-footer .share {
    width: 135px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .share p{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #333132;
  }